# Importing data and libraries

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\Goce\Desktop\Achievement 4 Python Fundamentals' #Defining path

In [3]:
ords_prods_merge = pd.read_pickle(os.path.join(path, 'Data', 'Prepared Data', 'orders_products_merged_updated.pkl'),)  # Importing orders_products_merged_updated

# Dealing with memory issues

In [4]:
#checking the dataframe
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last-order,new_customer,product_id,add_to_cart_order,reordered,...,Unnamed: 0,product_name,aisle_id,department_id,prices,merge_flag,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,True,196,1,0,...,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders
1,2398795,1,2,3,7,15.0,False,196,1,1,...,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders
2,473747,1,3,3,12,21.0,False,196,1,1,...,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders
3,2254736,1,4,4,7,29.0,False,196,1,1,...,195,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders
4,431534,1,5,4,15,28.0,False,196,1,1,...,195,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders

In [5]:
#checking the dataframe
ords_prods_merge.tail()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last-order,new_customer,product_id,add_to_cart_order,reordered,...,Unnamed: 0,product_name,aisle_id,department_id,prices,merge_flag,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
32404854,1320836,202557,17,2,15,1.0,False,43553,2,1,...,43557,Orange Energy Shots,64,7,3.7,both,Low-range product,Regularly busy,Regularly busy,Most orders
32404855,31526,202557,18,5,11,3.0,False,43553,2,1,...,43557,Orange Energy Shots,64,7,3.7,both,Low-range product,Regularly busy,Regularly busy,Most orders
32404856,758936,203436,1,2,7,NaN,True,42338,4,0,...,42342,"Zucchini Chips, Pesto",50,19,6.9,both,Mid-range product,Regularly busy,Regularly busy,Average orders
32404857,2745165,203436,2,3,5,15.0,False,42338,16,1,...,42342,"Zucchini Chips, Pesto",50,19,6.9,both,Mid-range product,Regularly busy,Slowest days,Fewest orders
32404858,3093936,205420,1,4,14,NaN,True,28818,8,0,...,28820,Hot Oatmeal Multigrain Raisin,130,14,10.3,both,Mid-range product,Least busy,Slowest days,Most orders

In [6]:
pd.set_option('display.max_columns', None)  # Show all columns

In [7]:
ords_prods_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 21 columns):
 #   Column                 Dtype
---  ------                 -----
 0   order_id               int64
 1   user_id                int64
 2   order_number           int64
 3   orders_day_of_week     int64
 4   order_hour_of_day      int64
 5   days_since_last-order  float64
 6   new_customer           bool
 7   product_id             int64
 8   add_to_cart_order      int64
 9   reordered              int64
 10  _merge                 category
 11  Unnamed: 0             int64
 12  product_name           object
 13  aisle_id               int64
 14  department_id          int64
 15  prices                 float64
 16  merge_flag             category
 17  price_range_loc        object
 18  busiest_day            object
 19  busiest_days           object
 20  busiest_period_of_day  object
dtypes: bool(1), category(2), float64(2), int64(11), object(5)
memory usage: 4.7+ GB

In [8]:
ords_prods_merge.shape

(32404859, 21)

In [9]:
# dropping unnecessary columns
ords_prods_merge.drop(columns = {'_merge', 'Unnamed: 0', 'merge_flag'}, inplace = True)

In [10]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last-order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Most orders
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Most orders

In [11]:
ords_prods_merge.shape

(32404859, 18)

In [12]:
ords_prods_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 18 columns):
 #   Column                 Dtype
---  ------                 -----
 0   order_id               int64
 1   user_id                int64
 2   order_number           int64
 3   orders_day_of_week     int64
 4   order_hour_of_day      int64
 5   days_since_last-order  float64
 6   new_customer           bool
 7   product_id             int64
 8   add_to_cart_order      int64
 9   reordered              int64
 10  product_name           object
 11  aisle_id               int64
 12  department_id          int64
 13  prices                 float64
 14  price_range_loc        object
 15  busiest_day            object
 16  busiest_days           object
 17  busiest_period_of_day  object
dtypes: bool(1), float64(2), int64(10), object(5)
memory usage: 4.4+ GB

In [13]:
ords_prods_merge.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_last-order', 'new_customer',
       'product_id', 'add_to_cart_order', 'reordered', 'product_name',
       'aisle_id', 'department_id', 'prices', 'price_range_loc', 'busiest_day',
       'busiest_days', 'busiest_period_of_day'],
      dtype='object')

In [14]:
# Change types for ords_prods_merge data set

ords_prods_merge['order_id']=ords_prods_merge['order_id'].astype('int32')
ords_prods_merge['user_id'] = ords_prods_merge['user_id'].astype('int32')
ords_prods_merge['order_number']=ords_prods_merge['order_number'].astype('int8')
ords_prods_merge['orders_day_of_week']=ords_prods_merge['orders_day_of_week'].astype('int8')
ords_prods_merge['order_hour_of_day']=ords_prods_merge['order_hour_of_day'].astype('int8')
ords_prods_merge['days_since_last-order']=ords_prods_merge['days_since_last-order'].astype('float16')
ords_prods_merge['product_id'] =ords_prods_merge['product_id'].astype('int32')
ords_prods_merge['reordered']=ords_prods_merge['reordered'].astype('int8')
ords_prods_merge['add_to_cart_order']=ords_prods_merge['add_to_cart_order'].astype('int32')
ords_prods_merge['aisle_id'] = ords_prods_merge['aisle_id'].astype('int8')
ords_prods_merge['department_id'] = ords_prods_merge['department_id'].astype('int8')
ords_prods_merge['prices'] = ords_prods_merge['prices'].astype('float16')

In [15]:
ords_prods_merge.shape

(32404859, 18)

In [16]:
ords_prods_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 18 columns):
 #   Column                 Dtype
---  ------                 -----
 0   order_id               int32
 1   user_id                int32
 2   order_number           int8
 3   orders_day_of_week     int8
 4   order_hour_of_day      int8
 5   days_since_last-order  float16
 6   new_customer           bool
 7   product_id             int32
 8   add_to_cart_order      int32
 9   reordered              int8
 10  product_name           object
 11  aisle_id               int8
 12  department_id          int8
 13  prices                 float16
 14  price_range_loc        object
 15  busiest_day            object
 16  busiest_days           object
 17  busiest_period_of_day  object
dtypes: bool(1), float16(2), int32(4), int8(6), object(5)
memory usage: 2.3+ GB

In [17]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last-order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Most orders
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Most orders

In [18]:
ords_prods_merge.tail()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last-order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
32404854,1320836,202557,17,2,15,1.0,False,43553,2,1,Orange Energy Shots,64,7,3.699219,Low-range product,Regularly busy,Regularly busy,Most orders
32404855,31526,202557,18,5,11,3.0,False,43553,2,1,Orange Energy Shots,64,7,3.699219,Low-range product,Regularly busy,Regularly busy,Most orders
32404856,758936,203436,1,2,7,NaN,True,42338,4,0,"Zucchini Chips, Pesto",50,19,6.898438,Mid-range product,Regularly busy,Regularly busy,Average orders
32404857,2745165,203436,2,3,5,15.0,False,42338,16,1,"Zucchini Chips, Pesto",50,19,6.898438,Mid-range product,Regularly busy,Slowest days,Fewest orders
32404858,3093936,205420,1,4,14,NaN,True,28818,8,0,Hot Oatmeal Multigrain Raisin,-126,14,10.296875,Mid-range product,Least busy,Slowest days,Most orders

# Questions

# 1. Create a new notebook for this task. Be sure to import the relevant libraries, along with your ords_prods_merge dataframe

In [19]:
# Done

# 2. Find the aggregated mean of the “order_number” column grouped by “department_id” column for the entire dataframe

In [20]:
ords_prods_merge.groupby('department_id')['order_number'].mean()

department_id
1     15.457838
2     17.277920
3     17.170395
4     17.811403
5     15.215751
6     16.439806
7     17.225802
8     15.340650
9     15.895474
10    20.197148
11    16.170638
12    15.887671
13    16.583536
14    16.773669
15    16.165037
16    17.665606
17    15.694469
18    19.310397
19    17.177343
20    16.473447
21    22.902379
Name: order_number, dtype: float64

# 3. Analyze the result. How do the results for the entire dataframe differ from those of the subset?

In [21]:
# Within the subset we have results only for some of the departments,
# The values for the mean, for those departments in the subset that we have results, differs from those for the entire dataframe.
# the mean is higher in the subset, except for department 17

# 4. Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

In [22]:
# Aggregating Data with transform()
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [23]:
# checking the output
ords_prods_merge.head(20)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last-order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,10
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Most orders,10
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,10
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Most orders,10
5,3367565,1,6,2,7,19.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10
6,550135,1,7,1,9,20.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10
7,3108588,1,8,1,14,14.0,False,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10
8,2295261,1,9,1,16,0.0,False,196,4,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10
9,2550362,1,10,4,8,30.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,10
10,2968173,15,15,1,9,7.0,False,196,2,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22
11,1870022,15,17,2,16,8.0,False,196,6,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,22
12,1911383,15,18,2,11,7.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,22
13,2715276,15,21,1,9,7.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22
14,487368,15,22,1,10,14.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22
15,2293453,19,2,5,14,6.0,False,196,3,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,9
16,1973799,19,5,6,12,8.0,False,196,15,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,9
17,532817,19,7,4,17,6.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,9
18,1573906,21,10,3,10,6.0,False,196,2,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Most orders,33
19,1593000,31,10,3,8,7.0,False,196,17,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,20

In [24]:
# To create a loyalty flag, we are using the following criteria:

# 1. If the maximum orders the user has made is over 40, then the customer will be labeled a “Loyal customer.”
# 2. If the maximum orders the user has made is over 10 but less than or equal to 40, then the customer will be labeled a “Regular customer.”
# 3. If the maximum orders the user has made is less than or equal to 10, then the customer will be labeled a “New customer.”

In [25]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [26]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [27]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [28]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [29]:
# checking the columns 'user_id', 'loyalty_flag', 'order_number' and 'max_order' 
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number', 'max_order' ]].head(20)

    user_id      loyalty_flag  order_number  max_order
0         1      New customer             1         10
1         1      New customer             2         10
2         1      New customer             3         10
3         1      New customer             4         10
4         1      New customer             5         10
5         1      New customer             6         10
6         1      New customer             7         10
7         1      New customer             8         10
8         1      New customer             9         10
9         1      New customer            10         10
10       15  Regular customer            15         22
11       15  Regular customer            17         22
12       15  Regular customer            18         22
13       15  Regular customer            21         22
14       15  Regular customer            22         22
15       19      New customer             2          9
16       19      New customer             5          9
17       19      New customer             7          9
18       21  Regular customer            10         33
19       31  Regular customer            10         20

# 5. Check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer).¶

In [30]:
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'std', 'min', 'max', 'median']})

                 prices
                   mean std  min  max    median
loyalty_flag
Loyal customer      NaN NaN  1.0  inf  7.398438
New customer        NaN NaN  1.0  inf  7.398438
Regular customer    NaN NaN  1.0  inf  7.398438

In [32]:

# the max value seems off, will be further addressed

In [31]:
# assign NaN to outliers values
ords_prods_merge.loc[ords_prods_merge['prices'] > 100]

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last-order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
10030345,912404,17,12,2,14,5.0,False,21553,5,0,Lowfat 2% Milkfat Cottage Cheese,108,16,14896.0,High-range product,Regularly busy,Regularly busy,Most orders,40,Regular customer
10030346,603376,17,22,6,16,4.0,False,21553,3,1,Lowfat 2% Milkfat Cottage Cheese,108,16,14896.0,High-range product,Regularly busy,Regularly busy,Most orders,40,Regular customer
10030347,3264360,135,2,2,21,13.0,False,21553,6,0,Lowfat 2% Milkfat Cottage Cheese,108,16,14896.0,High-range product,Regularly busy,Regularly busy,Average orders,4,New customer
10030348,892534,135,3,0,8,12.0,False,21553,3,1,Lowfat 2% Milkfat Cottage Cheese,108,16,14896.0,High-range product,Busiest day,Busiest days,Average orders,4,New customer
10030349,229704,342,8,1,19,30.0,False,21553,9,0,Lowfat 2% Milkfat Cottage Cheese,108,16,14896.0,High-range product,Regularly busy,Busiest days,Average orders,16,Regular customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29166209,2249946,204099,29,0,8,4.0,False,33664,1,0,2 % Reduced Fat Milk,84,16,inf,High-range product,Busiest day,Busiest days,Average orders,39,Regular customer
29166210,2363282,204099,31,0,9,2.0,False,33664,1,1,2 % Reduced Fat Milk,84,16,inf,High-range product,Busiest day,Busiest days,Most orders,39,Regular customer
29166211,3181945,204395,13,3,15,8.0,False,33664,25,0,2 % Reduced Fat Milk,84,16,inf,High-range product,Regularly busy,Slowest days,Most orders,15,Regular customer
29166212,2486215,205227,7,3,20,4.0,False,33664,8,0,2 % Reduced Fat Milk,84,16,inf,High-range product,Regularly busy,Slowest days,Average orders,12,Regular customer
29166213,2232716,205227,10,0,11,4.0,False,33664,23,1,2 % Reduced Fat Milk,84,16,inf,High-range product,Busiest day,Busiest days,Most orders,12,Regular customer

In [33]:
ords_prods_merge.loc[ords_prods_merge['prices'] >100, 'prices'] = np.nan

In [34]:
ords_prods_merge['prices'].max()

25.0

In [35]:
# checking again 
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'std', 'min', 'max', 'median']})

                    prices
                      mean       std  min   max    median
loyalty_flag
Loyal customer    7.773438  4.206003  1.0  25.0  7.398438
New customer      7.800781  4.266704  1.0  25.0  7.398438
Regular customer  7.796875  4.254747  1.0  25.0  7.398438

In [36]:
# similar values accross the different customer categories

# 6. Create a spending flag for each user based on the average price across all their orders

In [37]:
# Aggregating Data with transform() and create new column 'user_avg_price'
ords_prods_merge['user_avg_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [38]:
# checking the output
ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last-order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,user_avg_price
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367188
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367188
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367188
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367188
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367188
5,3367565,1,6,2,7,19.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367188
6,550135,1,7,1,9,20.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367188
7,3108588,1,8,1,14,14.0,False,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367188
8,2295261,1,9,1,16,0.0,False,196,4,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367188
9,2550362,1,10,4,8,30.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367188
10,2968173,15,15,1,9,7.0,False,196,2,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980469
11,1870022,15,17,2,16,8.0,False,196,6,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980469
12,1911383,15,18,2,11,7.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980469
13,2715276,15,21,1,9,7.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980469
14,487368,15,22,1,10,14.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980469

In [39]:
# To create a spending  flag, we are using the following criteria:
# If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
# If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [40]:
ords_prods_merge.loc[ords_prods_merge['user_avg_price'] < 10, 'spending_flag'] = 'Low spender'

In [41]:
ords_prods_merge.loc[ords_prods_merge['user_avg_price'] >= 10, 'spending_flag'] = 'High spender'

In [42]:
# check the frequency
ords_prods_merge['spending_flag'].value_counts(dropna = False)

Low spender     32284736
High spender      120123
Name: spending_flag, dtype: int64

In [43]:
# checking the columns 'user_id', 'spending_flag', 'user_avg_price'
ords_prods_merge[['user_id', 'spending_flag', 'user_avg_price']].head(50)

    user_id spending_flag  user_avg_price
0         1   Low spender        6.367188
1         1   Low spender        6.367188
2         1   Low spender        6.367188
3         1   Low spender        6.367188
4         1   Low spender        6.367188
5         1   Low spender        6.367188
6         1   Low spender        6.367188
7         1   Low spender        6.367188
8         1   Low spender        6.367188
9         1   Low spender        6.367188
10       15   Low spender        3.980469
11       15   Low spender        3.980469
12       15   Low spender        3.980469
13       15   Low spender        3.980469
14       15   Low spender        3.980469
15       19   Low spender        8.375000
16       19   Low spender        8.375000
17       19   Low spender        8.375000
18       21   Low spender        7.011719
19       31   Low spender        8.140625
20       31   Low spender        8.140625
21       43   Low spender        7.445312
22       43   Low spender        7.445312
23       52   Low spender        6.355469
24       52   Low spender        6.355469
25       52   Low spender        6.355469
26       52   Low spender        6.355469
27       52   Low spender        6.355469
28       52   Low spender        6.355469
29       52   Low spender        6.355469
30       52   Low spender        6.355469
31       52   Low spender        6.355469
32       52   Low spender        6.355469
33       52   Low spender        6.355469
34       52   Low spender        6.355469
35       52   Low spender        6.355469
36       52   Low spender        6.355469
37       67   Low spender        7.656250
38       67   Low spender        7.656250
39       67   Low spender        7.656250
40       67   Low spender        7.656250
41       67   Low spender        7.656250
42       67   Low spender        7.656250
43       67   Low spender        7.656250
44       67   Low spender        7.656250
45       67   Low spender        7.656250
46       67   Low spender        7.656250
47       67   Low spender        7.656250
48       67   Low spender        7.656250
49       67   Low spender        7.656250

# 7.Determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column¶

In [44]:
 # Aggregating Data with transform() and create new column 'median_prior_orders'
ords_prods_merge['median_prior_orders'] = ords_prods_merge.groupby(['user_id'])['days_since_last-order'].transform(np.median)

In [45]:
# checking the output
ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last-order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,user_avg_price,spending_flag,median_prior_orders
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367188,Low spender,20.5
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367188,Low spender,20.5
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367188,Low spender,20.5
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367188,Low spender,20.5
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367188,Low spender,20.5
5,3367565,1,6,2,7,19.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367188,Low spender,20.5
6,550135,1,7,1,9,20.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367188,Low spender,20.5
7,3108588,1,8,1,14,14.0,False,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367188,Low spender,20.5
8,2295261,1,9,1,16,0.0,False,196,4,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367188,Low spender,20.5
9,2550362,1,10,4,8,30.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367188,Low spender,20.5
10,2968173,15,15,1,9,7.0,False,196,2,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980469,Low spender,10.0
11,1870022,15,17,2,16,8.0,False,196,6,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980469,Low spender,10.0
12,1911383,15,18,2,11,7.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980469,Low spender,10.0
13,2715276,15,21,1,9,7.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980469,Low spender,10.0
14,487368,15,22,1,10,14.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980469,Low spender,10.0

In [46]:
# To create an order frequency flag, we are using the following criteria:
# if the median of “days_since_last_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
# If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
# If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [47]:
ords_prods_merge.loc[ords_prods_merge['median_prior_orders'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'

In [48]:
ords_prods_merge.loc[ords_prods_merge['median_prior_orders'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [49]:
ords_prods_merge.loc[(ords_prods_merge['median_prior_orders'] > 10) & (ords_prods_merge['median_prior_orders'] <= 20), 'order_frequency_flag'] = 'Regular customer'

In [50]:
# check the frequency
ords_prods_merge['order_frequency_flag'].value_counts(dropna = False)

Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: order_frequency_flag, dtype: int64

In [51]:
# in order to count each user only once
ords_prods_merge.groupby(['order_frequency_flag']).user_id.nunique()

order_frequency_flag
Frequent customer        86596
Non-frequent customer    59619
Regular customer         59993
Name: user_id, dtype: int64

In [52]:
ords_prods_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 24 columns):
 #   Column                 Dtype
---  ------                 -----
 0   order_id               int32
 1   user_id                int32
 2   order_number           int8
 3   orders_day_of_week     int8
 4   order_hour_of_day      int8
 5   days_since_last-order  float16
 6   new_customer           bool
 7   product_id             int32
 8   add_to_cart_order      int32
 9   reordered              int8
 10  product_name           object
 11  aisle_id               int8
 12  department_id          int8
 13  prices                 float16
 14  price_range_loc        object
 15  busiest_day            object
 16  busiest_days           object
 17  busiest_period_of_day  object
 18  max_order              int8
 19  loyalty_flag           object
 20  user_avg_price         float16
 21  spending_flag          object
 22  median_prior_orders    float16
 23  order_frequency_flag   object
dtypes: bool(1), float16(4), int32(4), int8(7), object(8)
memory usage: 3.1+ GB

In [53]:
# Export data to pkl
ords_prods_merge.to_pickle(os.path.join(path, 'Data','Prepared Data', 'orders_products_aggregated_max.pkl'))